body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    max-width: 1200px;
    padding: 20px;
    margin: 0 auto;
}

/* // LOADER // */

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 4px solid #d7e9de;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border-left: 4px solid #084725;
    border-bottom: 4px solid transparent;
    animation: rotation 0.5s linear infinite reverse;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* // LOADER // */

.hidden {
    display: none;
}

span {
    font-weight: 600;
}

.breed-select {
    margin: 0 auto;
    max-width: 85%;
}

.cat-info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.info-wrapper {
    max-width: 500px;
}

.cat-img {
    margin-right: 20px;
    border-radius: 5px;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}